[flake8]

max-line-length = 120

ignore =
    # flake8-docstrings
    # Missing docstring in:
    D100, # public module
    D101, # public class
    D102, # public method
    D103, # public function
    D104, # public package
    D105, # magic method
    D106, # nested class
    D107, # __init__