<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Timetable - server</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
</head>
<body>
<div class="welcome-box">
    <p>Welcome to <b>Timetable</b> server.</p>
    <p>If you have access to the admin panel, you can <a href="{% url 'admin:index' %}">log in</a>.</p>
</div>
</body>
</html>