<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Timetable - server</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
</head>
<style>
    body {
        font-size: 2.2em;
        font-family: 'Montserrat', sans-serif;
        text-align: center;
        background-image: radial-gradient(circle, #00e6ff, #00cef8, #00b6ef, #009ee1, #0085d0);
        color: #fff3e7;
        text-shadow: 2px 3px 0 #898999;
    }

    a {
        color: white !important;
        text-decoration: underline;
    }

    .welcome-box {
        padding-top: 300px;
    }
</style>
<body>
<div class="welcome-box">
    <p>Welcome to <b>Timetable</b> server.</p>
    <p>If you have access to the admin panel, you can <a href="{% url 'admin:index' %}">log in</a>.</p>
</div>
</body>
</html>